#portfolio {
    background-color: #f7f7f7;

    .porfolio-image-container {
        height: 280px;
        overflow: hidden;

        .portfolio-image {
            height: 100%;
            @include bg-image();
            transition: $transition;
            cursor: pointer;

            &:hover {
                transform: scale(1.3);

                .portfolio-image-mask {
                    visibility: visible;
                }
            }

            .portfolio-image-mask {
                height: 100%;
                background-color: rgba(14, 216, 214, .5);
                color: #fff;
                font-size: 3rem;
                visibility: hidden;
                @include display-flex(row, center, center);
            }
        }

        .image1 {
            background-image: url(../img/portfolio/box_of_cookies.jpg);
        }

        .image2 {
            background-image: url(../img/portfolio/chaotic_paint.jpg);
        }

        .image3 {
            background-image: url(../img/portfolio/chestnut_on_bracket.jpg);
        }

        .image4 {
            background-image: url(../img/portfolio/child_with_blue_paint.jpg);
        }

        .image5 {
            background-image: url(../img/portfolio/house_with_blue_doors.jpg);
        }

        .image6 {
            background-image: url(../img/portfolio/typing_on_laptop.jpg);
        }
    }

    .image-caption {
        background-color: #fff;

        p {
            margin-bottom: 0;
        }
    }
}
