$gray-color: #777;
$darkgray-color: #333;
$cyan-color: #0ed8d6;

$transition: all 400ms ease-in-out;

@mixin bg-image() {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin display-flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
